*{
    margin: 0;
    padding: 0;
    
}

body{
    text-align: center;
    background-color: #3d74a7 ;
}
h1{
    background-color: #12355B;
    color: #FFFFFF;
    height: 5rem;
    line-height: 5rem;
}

.choices{
    padding: 3rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.choice{
    height: 200px;
    width: 200px;
}

.choice:hover{
    opacity: .75;
    cursor: pointer;
}

img{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    /* object-fit:cover  */
    /* if images got distort */
}

.score{
    display: flex;
    gap: 4rem;
    justify-content: center;
    font-size: 3rem;    
}

.msg_container{
    padding: 0.5rem;
    margin-top: 2rem;
    font-size: 2rem; 
      
}

#msg{
    color: white;
    padding:1rem;
    background-color: #420039;
    border-radius: 1.5rem;
    display: inline;
}

#msg:hover{
    cursor:pointer;
}

#reset{
    color: white;
    padding:1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #420039;
    border-radius: 1.5rem;
    display: inline;
}

#reset:hover{
    cursor:pointer;
}